.hero {
    width: 100%;;
    height: 100vh;
    background: url('../assets/logo\ barcelo\ agro\ ventas390x156.png')no-repeat center 200px  transparent;

}

.hero::before{
    content: '';
    position: absolute;
    background: url(../assets/pexels-pixabay-39015.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}



.hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero .content {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-left: 6rem;
}

.hero h1{
    color: white
}

.hero .blue {
    color: #A62929;
}

@media screen and (max-width: 940px) {
    .hero .content{
        margin-left: 1rem;
    }

}