.nuevas {
    position: absolute;
    width: 100%;
    height: 300vh;
    background: url('../assets/logo\ cele.png')no-repeat center 300px  transparent;
}
.nuevas::before {
    content: '';
    position: absolute;
    background: url(../assets/portada-roja.jpg) no-repeat center center/cover;
    height: 450px;
    width: 100%;
    z-index: -1;
}

.nuevas .content {
    position: absolute;
    top: 15%;
    width: 50%;
    padding: 1rem;
    margin: 10rem;
    left: 15%;
}

h3{
    font-size: 40px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

p{
    font-size: 22px;
    margin-top: 1rem;
    width: 78%;
}